<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <!--  <add name="MySqlConnectionString" connectionString="server=118.201.57.142;port=3307;User Id=root;password=R1**vuyTH;database=snda_rast" providerName="MySql.Data.MySqlClient" />-->
<add name="MySqlConnectionString"
connectionString="server=127.0.0.1;port=3306;User Id=subash;password=root;database=snda_rast;"
providerName="MySql.Data.MySqlClient" />
    <!--<add name="MySqlConnectionString" connectionString="server=118.201.57.142;port=3307;User Id=root;password=R1**vuyTH;database=snda_rast;" providerName="MySql.Data.MySqlClient" />
    <add name="MySqlConnectionString" connectionString="server=sql.m766.vhostgo.com;port=3306;User Id=sivaraguram;password=ragu4321;database=sivaraguram;" providerName="MySql.Data.MySqlClient" />
    <add name="MySqlConnectionString" connectionString="server=127.0.0.1;Port=3306;User Id=root;password=ragu4321;database=snda_demo;" providerName="MySql.Data.MySqlClient"/>-->
    <!--
  
   <add name="MySqlConnectionString_test" connectionString="server=127.0.0.1;Port=3306;User Id=root;password=ragu4321;database=test;" providerName="MySql.Data.MySqlClient"/>
    <add name="MySqlConnectionString_license" connectionString="server=127.0.0.1;port=3306;User Id=root;password=ragu4321;database=rodenteye_demo;" providerName="MySql.Data.MySqlClient"/>
   <add name="MySqlConnectionString" connectionString="server=127.0.0.1;Port=3306;User Id=root;password=ragu4321;database=snda_rast;" providerName="MySql.Data.MySqlClient" />
    <add name="MySqlConnectionString_test" connectionString="server=127.0.0.1;Port=3306;User Id=root;password=ragu4321;database=test;" providerName="MySql.Data.MySqlClient" />
    <add name="MySqlConnectionString_license" connectionString="server=127.0.0.1;port=3306;User Id=root;password=ragu4321;database=rodenteye_license;" providerName="MySql.Data.MySqlClient" />

    
    Singapore 
    <add name="MySqlConnectionString" connectionString="server=pestech.ddns.net;port=3307;User Id=root;password=R1**vuyTH;database=snda_rast;" providerName="MySql.Data.MySqlClient" />
    <add name="MySqlConnectionString_license" connectionString="server=pestech.ddns.net;port=3307;User Id=root;password=R1**vuyTH;database=rodenteye_license;" providerName="MySql.Data.MySqlClient" />

    
    <add name="MySqlConnectionString" connectionString="server=192.168.1.41;port=3307;User Id=root;password=R1**vuyTH;database=snda_rast;" providerName="MySql.Data.MySqlClient" />
    <add name="MySqlConnectionString_license" connectionString="server=192.168.1.41;port=3307;User Id=root;password=R1**vuyTH;database=rodenteye_license;" providerName="MySql.Data.MySqlClient" />
   
    <add name="MySqlConnectionString" connectionString="server=127.0.0.1;Port=3307;User Id=root;password=R1**vuyTH;database=snda_rast;" providerName="MySql.Data.MySqlClient" />
    <add name="MySqlConnectionString_test" connectionString="server=127.0.0.1;Port=3307;User Id=root;password=R1**vuyTH;database=test;" providerName="MySql.Data.MySqlClient" />
    <add name="MySqlConnectionString_license" connectionString="server=127.0.0.1;port=3307;User Id=root;password=R1**vuyTH;database=rodenteye_license;" providerName="MySql.Data.MySqlClient" />
    -->
    <!--China
    <add name="MySqlConnectionString" connectionString="server=sql.m766.vhostgo.com;port=3306;User Id=sivaraguram;password=ragu4321;database=sivaraguram;" providerName="MySql.Data.MySqlClient" />
    <add name="MySqlConnectionString_license" connectionString="server=118.201.57.142;port=3307;User Id=root;password=R1**vuyTH;database=rodenteye_license_china;" providerName="MySql.Data.MySqlClient" /> -->
  </connectionStrings>
  <appSettings>
    <add key="SWVersion" value="3.7" />
    <add key="FromEmailAddress" value="subashsk11831@gmail.com" />
    <add key="SMTPHost" value="smtp.gmail.com" />
    <add key="SMTPPort" value="587" />
    <add key="SMTPUserName" value="subashsk11831@gmail.com" />
    <add key="SMTPUserPassword" value="noblaktuynfslkad" />
    <add key="SMSPrefix" value="tum1014" />
    <add key="ExcelSensorTemplate" value="D:\Santosh\TechSpan\Workbench\SNDA\template\Template_SNDASensor.xlsx" />
    <add key="ExcelSensorReport" value="D:\Santosh\TechSpan\Workbench\SNDA\report\" />
    <!--Singapore-->
    <add key="LongVal" value="103.813" />
    <add key="LatVal" value="1.347" />
    <add key="BatteryMaxTrigger" value="14000" />
    <add key="SecretCode" value="0608" />
    <add key="applyAutoRemoval" value="1" />
    <add key="NoAlertSite" value="CP Chicken Farm" />
    <add key="smsTrapAlert" value="6592305656;6582672062;6584995991" />
    <add key="smsLogView" value="1" />
    <!-- <add key="printerIP" value="http://pestech.ddns.net:40006" />-->
    <add key="printerIP" value="http://118.201.57.142:40006" />
    <!-- <add key="NoAlertSite" value="CP Chicken Farm;Site1;Site2;" />
    -->
    <!--Malaysia
    <add key="LongVal" value="101.650" />
    <add key="LatVal" value="3.160" />-->
    <add key="recaptchaSiteKey" value="6LcoULUoAAAAAK88CLyuBWNZkJ-ta_CVZ3qYbetx" />
    <add key="recaptchaServerKey" value="6LcoULUoAAAAAEccdLE0Ve_BfeCJ9D6XjTj_LPsG" />
    <add key="recaptchaApiVersion" value="2" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.8">
      <assemblies>
        <add assembly="System.Net, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Net.Http.WebRequest, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="MySql.Data, Version=9.5.0.0, Culture=neutral, PublicKeyToken=C5687FC88969C44D" />
        <add assembly="System.Net.Http, Version=4.2.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Numerics, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Runtime.CompilerServices.Unsafe, Version=6.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Threading.Tasks.Extensions, Version=4.2.0.1, Culture=neutral, PublicKeyToken=CC7B13FFCD2DDD51" />
        <add assembly="MySql.Data, Version=9.5.0.0, Culture=neutral, PublicKeyToken=C5687FC88969C44D" />
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Transactions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5" />
    <pages controlRenderingCompatibilityVersion="4.0" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
	<dependentAssembly>
  <assemblyIdentity name="MySql.Data"
                    publicKeyToken="c5687fc88969c44d"
                    culture="neutral" />
  <bindingRedirect oldVersion="0.0.0.0-9.5.0.0"
                   newVersion="9.5.0.0" />
</dependentAssembly>

    </assemblyBinding>
  </runtime>
</configuration>